#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.header {
  text-align:left;
  width: 100%;
  max-width: 1024px;
  background-color: white;
}

.header-container{
  display: inline-flex;
  width: 100vw;
  height: inherit;
  text-align: left;
}

.header-logo{
  text-align: left;
  height: inherit;
  width: 60px;
}

.header-logo-words{
  height: inherit;
  max-width: 200px;
}

.totalWrapper{
  width: inherit;
}

.selectionWrapper{
  font-size:medium;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
