@tailwind base;
@tailwind components;
@tailwind utilities;

.katex-display {
    white-space: normal !important;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    font-size: clamp(0.75rem, 1.5vw, 1.2rem);
  }